<h1>The Story of Technology by Design</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non eros ligula. Quisque eget magna erat, sit amet ultricies nibh. Aenean elementum, neque id vehicula congue, tortor quam eleifend magna, in rutrum lacus urna et felis. Duis egestas leo ut neque pretium porttitor. Duis vestibulum urna viverra orci convallis sed vulputate neque feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce pharetra fermentum leo vitae iaculis. Sed dictum mauris id mi rhoncus non aliquet mi semper. Mauris enim tellus, sagittis ac malesuada et, hendrerit at est. Nullam in enim sed nibh commodo venenatis. Mauris et dignissim erat.</p><br />
	<table class="officepics">
		<tr>
			<td>
				<%= image_tag("TBDoffice1.jpg", :alt => "Office") %>
			</td>
			<td>
				<%= image_tag("TBDoffice2.jpg", :alt => "Office2") %>
			</td>
			<td>
				<%= image_tag("TBDoffice3.jpg", :alt => "Office3") %>
			</td>
		</tr>
	</table>
<p>Quisque ornare odio a purus porttitor interdum. Donec sit amet accumsan metus. Nunc eleifend tincidunt est, vel tempus elit rhoncus ac. Quisque dignissim purus id odio congue a iaculis urna adipiscing. Donec non metus non massa feugiat condimentum. Integer bibendum tempor lacus at pharetra. Donec ligula turpis, vulputate id aliquam dignissim, sodales a arcu. Nam tempus enim quis massa sagittis ultricies. Sed egestas dignissim odio ut tincidunt. Fusce pharetra vehicula mauris et pretium. Morbi facilisis dolor eget risus facilisis sed ullamcorper enim porta. Donec posuere faucibus urna, sed blandit metus pellentesque tristique. In luctus tincidunt massa, at elementum orci volutpat sed. Curabitur vulputate feugiat massa in gravida. Aenean quis eros eu felis facilisis pellentesque non ut ipsum. Ut at nisi vitae mi dignissim lobortis. Morbi ac lectus sit amet nisi consequat euismod sed et dolor. Nullam eu odio dolor. Suspendisse tempor convallis tincidunt.</p><br />

<p>Donec sit amet arcu massa, quis viverra erat. Donec leo sapien, interdum vel posuere in, congue at sapien. Integer tristique quam non tortor sodales bibendum. Nam volutpat rutrum felis eu dapibus. Morbi posuere sem at turpis fermentum adipiscing. Aliquam aliquam placerat nunc a imperdiet. Morbi tincidunt magna in libero pulvinar iaculis. Donec hendrerit iaculis massa, ac commodo nisl tempor vel. Aenean eros augue, bibendum at laoreet pellentesque, posuere a nibh. Donec semper nunc in justo pretium blandit. Morbi elit erat, facilisis ac placerat quis, euismod vehicula ligula. Praesent dictum sem eget diam mollis pretium. Integer varius tristique lectus, quis lobortis est molestie a. Proin vitae nunc velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p><br />
